<div class="p-3">
  <ngb-tabset type="pills">
    <ngb-tab title="Входные параметры">
      <ng-template ngbTabContent>

        <app-create-input-params></app-create-input-params>

        <!-- <ng-container *ngIf="spStructureInput != undefined">
          <p  *ngFor="let item of spStructureInput.spPart.inputParams">{{item.nameInputSpParam}}</p>
        </ng-container> -->

        <table class="table" *ngIf="spStructureInput != undefined">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Техническое имя</th>
              <th scope="col">Тип</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spStructureInput.spPart.inputParams; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nameInputSpParam}}</td>
              <td>{{item.techNameInputSpParam}}</td>
              <td>{{item.dataType}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item.id, 'input')">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Выходные параметры</ng-template>
      <ng-template ngbTabContent>

        <app-create-output-params></app-create-output-params>

        <table class="table" *ngIf="spStructureInput != undefined">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Техническое имя</th>
              <th scope="col">Тип</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spStructureInput.spPart.outputParams; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nameOutputSpParam}}</td>
              <td>{{item.techNameOutputSpParam}}</td>
              <td>{{item.dataType}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item.id, 'output')">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="???">
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
