<div class="p-3">
  <ngb-tabset type="pills">
    <ngb-tab title="Входные параметры">
      <ng-template ngbTabContent>

        <app-create-input-params></app-create-input-params>

        <!-- <ng-container *ngIf="spStructureInput != undefined">
          <p  *ngFor="let item of spStructureInput.spPart.inputParams">{{item.nameInputSpParam}}</p>
        </ng-container> -->

        <table class="table" *ngIf="spStructureInput != undefined">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Техническое имя</th>
              <th scope="col">Тип</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spStructureInput.spPart.inputParams; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nameInputSpParam}}</td>
              <td>{{item.techNameInputSpParam}}</td>
              <td>{{item.dataType}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item.id, 'input')">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <!--  -->
    <ngb-tab>
      <ng-template ngbTabTitle>Выходные параметры</ng-template>
      <ng-template ngbTabContent>

        <app-create-output-params></app-create-output-params>

        <table class="table" *ngIf="spStructureInput != undefined">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Техническое имя</th>
              <th scope="col">Тип</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spStructureInput.spPart.outputParams; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nameOutputSpParam}}</td>
              <td>{{item.techNameOutputSpParam}}</td>
              <td>{{item.dataType}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item.id, 'output')">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <!--  -->
    <ngb-tab title="Курсоры">
      <ng-template ngbTabContent>

        <app-create-cursor></app-create-cursor>

        <!-- <select class="" (change)="test($event.target.value)">
          <option>Выберите курсор...</option>
          <option  *ngFor="let cursor of spStructureInput.cursors" value="{{cursor.cursorInfo.id}}">{{cursor.cursorInfo.name}}</option>
        </select>

        <p>{{cursor1}}</p> -->

        <button class="btn btn-primary" (click)="openCreateCursorDialog()">Создать курсор</button>

        <nav ngbNav #nav="ngbNav" class="nav-tabs">
          <ng-container ngbNavItem *ngFor="let cursor of spStructureInput.cursors">
            <a ngbNavLink>{{cursor.cursorInfo.name}}</a>
            <ng-template ngbNavContent>
              {{cursor.cursorInfo.id}}
              <app-cursor
                [cursor]="cursor"
              ></app-cursor>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
