<div class="p-3">
  <ngb-tabset type="pills">
    <ngb-tab title="Входные параметры">
      <ng-template ngbTabContent>

        <!-- <app-create-input-params></app-create-input-params> -->

        <!-- <ng-container *ngIf="spStructureInput != undefined">
          <p  *ngFor="let item of spStructureInput.spPart.inputParams">{{item.nameInputSpParam}}</p>
        </ng-container> -->
        <div class="create-button">
          <button class="btn btn-primary" (click)="openCreateInputParamDialog()">Добавить параметр</button>
        </div>


        <table class="table" *ngIf="spStructureInput != undefined">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Техническое имя</th>
              <th scope="col">Тип</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spStructureInput.spPart.inputParams; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nameInputSpParam}}</td>
              <td>{{item.techNameInputSpParam}}</td>
              <td>{{item.dataType | paramsType}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item.id, 'input')">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <!--  -->
    <ngb-tab>
      <ng-template ngbTabTitle>Выходные параметры</ng-template>
      <ng-template ngbTabContent>

        <div class="create-button">
          <button class="btn btn-primary" (click)="openCreateOutputParamDialog()">Добавить параметр</button>
        </div>

        <table class="table" *ngIf="spStructureInput != undefined">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Техническое имя</th>
              <th scope="col">Тип</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spStructureInput.spPart.outputParams; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nameOutputSpParam}}</td>
              <td>{{item.techNameOutputSpParam}}</td>
              <td>{{item.dataType | paramsType}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(item.id, 'output')">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </ngb-tab>
    <!--  -->
    <ngb-tab title="Курсоры">
      <ng-template ngbTabContent>

        <app-cursors-page
          [cursors]='spStructureInput.cursors'
          [spId]='spStructureInput.spPart.spInfo.id'
        ></app-cursors-page>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
