<p>Имя: {{cursor.cursorInfo.name}}</p>
<p>Техническое имя: {{cursor.cursorInfo.techName}}</p>
<app-create-cursor-column
  [fkCursor] = "cursor.cursorInfo.id"
></app-create-cursor-column>

<table class="table" *ngIf="cursor != undefined">
  <thead class="bg-primary text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Техническое имя</th>
      <th scope="col">Тип</th>
      <th scope="col">Позиция</th>
      <th scope="col">Виртуальная?</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cursor.cursorColumns; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.cursorColumnInfo.name}}</td>
      <td>{{item.cursorColumnInfo.techName}}</td>
      <td>{{item.cursorColumnInfo.type}}</td>
      <td>{{item.cursorColumnInfo.pos}}</td>
      <td>{{item.cursorColumnInfo.virtCol}}</td>
      <td>
        <button class="btn btn-danger" (click)="remove()">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
