#create-output-param-form {
  label {
    font-weight: bold;
    font-size: large;
  }
  input{
    &.ng-invalid.ng-touched{
      border: 1px solid red;
    }
    &.ng-valid{
      border: 2px solid lightgreen;
    }
  }
  select{
    &.ng-invalid.ng-touched{
      border: 1px solid red;
    }
    &.ng-valid{
      border: 2px solid lightgreen;
    }
  }
}
