<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Добавление выходного параметра</a>
</nav>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit(form.value)" id="create-output-param-form">
    <div class="form-group">
      <label>Имя:</label>
      <input type="text" formControlName="nameOutputSpParam" class="form-control">
      <div
        class="alert alert-danger mt-2"
        *ngIf="form.controls['nameOutputSpParam'].invalid && form.controls['nameOutputSpParam'].touched"
      >
        <small>Укажите имя параметра!</small>
      </div>
    </div>
    <div class="form-group">
      <label>Техническое имя:</label>
      <input type="text" formControlName="techNameOutputSpParam" class="form-control">
      <div
        class="alert alert-danger mt-2"
        *ngIf="form.controls['techNameOutputSpParam'].invalid && form.controls['techNameOutputSpParam'].touched"
      >
        <small>Укажите техническое имя параметра!</small>
      </div>
    </div>
    <div class="form-group">
      <label>Тип:</label>
      <select formControlName="dataType" class="form-control">
        <option value="varchar">Строка</option>
        <option value="integer">Число</option>
      </select>
      <div
        class="alert alert-danger mt-2"
        *ngIf="form.controls['dataType'].invalid && form.controls['dataType'].touched"
      >
        <small>Укажите тип параметра!</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Добавить</button>
  </form>
</div>


