<div class="row">
  <div class="col-4">
    <div class="form-group row">
      <label class="col-sm-2 cursor-label">Имя:</label>
      <input type="text" class="form-control col-sm-10"  disabled value="{{cursor.cursorInfo.name}}">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group row">
      <label class="col-sm-5 cursor-label">Техническое имя:</label>
      <input type="text" class="form-control col-sm-7"  disabled value="{{cursor.cursorInfo.techName}}">
    </div>

  </div>
  <div class="col-4">
    <button class="btn btn-danger" (click)="removeCursor(cursor.cursorInfo.id)">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>

<hr>

<div class="scroll-structure">
  <table class="cursor-structure">
    <tr>
      <td class="column-value" *ngFor="let cell of cursor.cursorColumns">
        <!-- {{cell.cursorColumnInfo.name}} -->
        <app-cursor-cell
          [inputData]="cell.cursorColumnInfo"
        >

        </app-cursor-cell>
      </td>
    </tr>
    <!-- <tr>
      <td class="column-type" *ngFor="let cell of cursor.cursorColumns">
        {{cell.cursorColumnInfo.type}}
      </td>
    </tr> -->
  </table>
</div>

<hr>

<button class="btn btn-primary m-1" (click)="openCreateColumnDialog()">Добавить колонку</button>
<button class="btn btn-primary m-1" (click)="openImportDialog()">Добавить из буфера</button>
<table class="table" *ngIf="cursor != undefined">
  <thead class="bg-primary text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Техническое имя</th>
      <th scope="col">Тип</th>
      <th scope="col">Позиция</th>
      <th scope="col">Виртуальная?</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cursor.cursorColumns; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.cursorColumnInfo.name}}</td>
      <td>{{item.cursorColumnInfo.techName}}</td>
      <td>{{item.cursorColumnInfo.type}}</td>
      <td>{{item.cursorColumnInfo.pos}}</td>
      <td>{{item.cursorColumnInfo.virtCol}}</td>
      <td>
        <button class="btn btn-danger" (click)="removeColumn(item.cursorColumnInfo.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

