.cursor-cell{
  margin: 5px;
  text-align: center;
  font-size: large;
  padding: 4px;
  width: 130px;
  height: 65px;
}
.cursor-cell-name{
  border: 1px solid red;
}

.cursor-cell-type{
  font-size: medium;
  border: 1px dotted black;
}

.cursor-cell-type-value {
  background-color: lightgreen;
}
